table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  .t_head {
    background-color: #636e72;

    tr {
      height: 50px;
      padding: 0.5rem 0.2rem;
      text-align: left;
      th {
        &:nth-child(1) {
          width: 5%;
          text-align: center;
        }
        &:nth-child(2) {
          width: calc(30%);
        }
        &:nth-child(3) {
          width: calc(30%);
        }
        &:nth-child(4) {
          width: calc(20%);
        }
        &:nth-child(5) {
          width: calc(20%);
        }
      }
    }
  }
  .t_body {
    background-color: #eee;
    .table_row {
      border-bottom: 2px solid #aaa;
      padding: 0.5rem 0.2rem;
      text-align: left;
      td {
        &:nth-child(1) {
          width: 5%;
          text-align: center;
        }
        &:nth-child(2) {
          width: calc(30%);
          img {
            height: 50px;
            margin-left: 1rem;
          }
        }
        &:nth-child(3) {
          width: calc(30%);
        }
        &:nth-child(4) {
          width: calc(20%);
        }
        &:nth-child(5) {
          width: calc(20%);
        }
      }
    }
  }
}
.cart_is_empty {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
}
